.footer {
  //Box Model
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.875rem 0.5rem 3rem;

  //Visual
  background-color: $primary;
}

.footer__logo {
  //Box Model
  display: flex;
  align-self: center;
  width: 9.375rem;
  height: 4.375rem;
  margin-top: 2.5rem;
}

.footer__link {
  color: $white;
  text-decoration: none;

  //Visual
  border-bottom: 1px dotted;
}
