/** Order of css blocks **/
// Positioning
// Box Model
// Typography
// Visual
// Animation
// Misc

.header {
  // Box Model
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 0 1.25rem;

  // Visual
  background-color: $primary;
}

.header__logo {
  // Box Model
  width: 9.375rem;
  height: 4.375rem;
}

.header__mobile-navigation {
  position: absolute;
  top: 4.75rem;
  left: 0.9375rem;
  z-index: 2;
}
