/** Order of css blocks **/
// Positioning
// Box Model
// Typography
// Visual
// Animation
// Misc


.header {
  padding: 0.75rem 0 1.25rem;

  @include lg {
    padding-bottom: 0;
  }
}

.header__logo-container {
  // Box Model
  position: absolute;
  top: 4.375rem;
  right: 0;
  left: 0;
  text-align: center;

  @include lg {
    position: initial;
  }
}

.header__logo {
  // Box Model
  width: 9.375rem;
  height: 4.375rem;
}
