/** Order of css blocks **/
// Positioning
// Box Model
// Typography
// Visual
// Animation
// Misc


.header {
  padding: 0.75rem 0 1.25rem;

  @include lg {
    padding-bottom: 0;
  }
}

.header__logo-container {
  // Box Model
  position: absolute;
  // TODO: Change back when COVID banner is removed
  top: 13rem;
  //top: 8rem;
  right: 0;
  left: 0;
  text-align: center;
  @include sm-header {
    // TODO: Change back when COVID banner is removed
    top: 11rem;
    //top: 6rem;
  }

  @include md {
    // TODO: Change back when COVID banner is removed
    top: 7rem;
    //top: 10rem;
  }

  @include lg {
    position: initial;
  }
}

.header__logo {
  // Box Model
  width: 9.375rem;
  height: 4.375rem;
}
