.navigation__ul {
  //Box Model
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;

  //Typography
  color: #fff;
  font-family: $serif-font;

  //Visual
  list-style: none;
  background-color: $primary;
}

.navigation__li {
  display: flex;
  justify-content: space-around;
  font-size: 16px;
}

.navigation__li-anchor {
  text-underline-position: under;
  font-size: 16px;
}

.navigation__li-anchor,
.navigation__span-separator {
  color: $white;
}
