/** Order of css blocks **/
//Positioning
//Box Model
//Typography
//Visual
//Animation
//Misc

.banner {
  //Box Model
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 5px;
  padding-right: 0.5rem;
  padding-left: 0.5rem;

  //Typography
  color: $white;
  font-family: $action-font;
  text-align: center;
  //Display
  background-color: $secondary;

  @include md {
    flex-direction: row;
    justify-content: center;
  }
}

.banner-text {
  font-weight: 600;
  font-size: 1.5rem;
  font-family: $action-font;
  letter-spacing: 0.025625rem;
  text-decoration: none;

  @include md {
    margin-right: 1.25rem;
  }
}

.banner-text:hover,
.banner-text:focus {
  text-decoration: underline;
}

.align-text--center {
  text-align: center;
}

.banner .banner-text:nth-child(2) {
  font-weight: 500;
}
