/** Order of css blocks **/
//Positioning
//Box Model
//Typography
//Visual
//Animation
//Misc

.banner {
  //Box Model
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 2.25rem;

  //Typography
  color: $white;

  //Display
  background-color: $secondary;
}
