/** Order of css blocks **/
// Positioning
// Box Model
// Typography
// Visual
// Animation
// Misc

.banner {

  padding: 0.625rem 0.3125rem;

  //Typography
  color: $white;
  font-size: 1.52rem;
  font-family: $action-font;
  text-align: center;

  //Display
  background-color: $secondary;

}
