/** Order of css blocks **/
//Positioning
//Box Model
//Typography
//Visual
//Animation
//Misc

.body-section {
  //Box Model
  padding: 3.125rem 0 2.1875rem;

  //Typography
  font-family: $san-serif-font;
  text-align: center;

  @include md {
    padding: 6.25rem 0 4.6875rem;
  }
}

.body-section__title {
  margin: 0 0 2.5rem;

  //Typography
  font-size: 2.25rem;
  font-family: $serif-font;

  @include md {
    margin: 0 0 6.25rem;
    font-size: 46px;
  }
}

.body-section__link-container {
  display: flex;
  justify-content: center;
  margin: 2.5rem 2.8125rem 0;

  @include md {
    margin-top: 4.6875rem;
  }
}
