// Order of css blocks
//Positioning
//Box Model
//Typography
//Visual
//Animation
//Misc

.body-header-container {
  position: relative;
}

.body-header__background-hero-img {
  height: 100%;

  @include lg {
    width: 100%;
    height: 46.875rem;
  }
}

.body-header__background-hero-img--overflow {
  //Box Model
  overflow-x: hidden;
  overflow-y: hidden;
}

.body-header__picture-container {
  @include lg {
    display: flex;
    justify-content: center;
    height: 100%;
  }
}

.display-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
