// Order of css blocks
//Positioning
//Box Model
//Typography
//Visual
//Animation
//Misc

.body-header-container {
  position: relative;
}

.body-header__background-hero-img {
  height: 100%;

  @include lg {
    max-width: 1200px;
  }
}

.body-header__background-hero-img--overflow {
  //Box Model
  overflow-x: hidden;
  overflow-y: hidden;
}

.body-header__picture-container {
  @include lg {
    display: flex;
    justify-content: center;
    height: 100%;
  }
}
