/** Order of css blocks **/
//Positioning
//Box Model
//Typography
//Visual
//Animation
//Misc

//noinspection CssUnusedSymbol
.contact-form__success-modal {
  padding: 1.25rem 0.5rem;
  @include lg {
    flex-wrap: wrap;
    justify-content: center;
  }
}

//noinspection CssUnusedSymbol
.contact-form__success-modal-container {
  @include lg {
    width: 60.3125rem;
  }
}

//noinspection CssUnusedSymbol
.contact-form__success-modal section {
  padding-bottom: 6.25rem;
}

.contact-form__success-modal section > h2:nth-of-type(1) {
  @include md {
    margin-bottom: 3.75rem;
    font-size: 3.125rem;
  }
}

.contact-form__success-modal section > p:nth-of-type(1) {
  @include md {
    padding-bottom: 3.75rem;
    font-size: 1.875rem;
  }
}

//noinspection CssUnusedSymbol
.contact-form__success-modal-icon {
  color: $secondary;
  font-size: 5.9375rem;

  @include md {
    font-size: 15.625rem;
  }
}

.contact-form__error-modal-icon {
  color: $red;
  font-size: 5.9375rem;

  @include md {
    font-size: 15.625rem;
  }
}

//noinspection CssUnusedSymbol
.contact-form__success-modal-ul-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}

.contact-form__success-modal-ul {
  width: 15.5rem;
  font-size: 1.25rem;
  list-style: none;

  @include md {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 37.5rem;
  }

  @include lg {
    width: 28.125rem;
  }
}

.contact-form__success-modal-ul > li {
  @include md {
    display: flex;
    justify-content: space-between;
    width: 18.75rem;
    padding-left: 3.4375rem;
  }
}

.contact-form__success-modal-ul > li:not(:last-child) {
  margin-bottom: 1.875rem;
}

//noinspection CssUnusedSymbol
.contact-form__success-modal--padding-bottom-50 {
  padding-bottom: 3.125rem;
}

//noinspection CssUnusedSymbol
.contact-form__success-modal-text {
  display: inline-block;
  width: 30%;
  text-align: left;

  @include md {
    font-size: 1.875rem;
  }
}

.contact-form__success-modal-link {
  display: inline-block;
  width: 7.75rem;
  height: 1.8rem;
  padding-bottom: 2rem;
  text-decoration: none;
  border-bottom: 0.1875rem solid $secondary;

  @include md {
    width: 8.75rem;
    height: 2.5rem;
    font-size: 1.625rem;
  }
  @include lg {
    width: 8.26rem;
  }
}

.contact-form__phone-link {
  text-decoration: none;
}

.contact-form__phone-link:hover,
.contact-form__phone-link:focus {
  text-decoration: none;
  border-bottom: 0.1875rem dashed $secondary;
  outline: transparent;
}
