/** Order of css blocks **/
//Positioning
//Box Model
//Typography
//Visual
//Animation
//Misc

//noinspection CssUnusedSymbol
.contact-form__review-modal {
  padding: 1.25rem 0.5rem;

  @include lg {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.contact-form__review-modal section {
  padding: 0;
}

.contact-form__review-modal section > h2:nth-of-type(1) {
  @include md {
    margin-bottom: 3.75rem;
    font-size: 3.125rem;
  }
}

.contact-form__review-modal section > p:nth-of-type(1) {
  @include md {
    padding-bottom: 3.75rem;
    font-size: 1.875rem;
  }
}

//noinspection CssUnusedSymbol
.contact-form__review-modal-container {
  @include lg {
    max-width: 60.3125rem;
  }
}

//noinspection CssUnusedSymbol
.contact-form__review-modal-card-container {
  margin-bottom: 1.875rem;
  padding: 0.625rem;
  list-style: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

//noinspection CssUnusedSymbol
.contact-form__review-modal-card-title {
  display: inline-block;
  width: 100%;
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
  text-align: left;

  @include md {
    font-size: 1.625rem;
  }
}

//noinspection CssUnusedSymbol
.contact-form__review-modal-card-subtext {
  white-space: pre-wrap;
  text-align: center;
  word-break: break-word;

  @include md {
    padding-left: 2.125rem;
    font-size: 1.5rem;
  }
}



