/** Order of css blocks **/
//Positioning
//Box Model
//Typography
//Visual
//Animation
//Misc

.contact-form {
  @include lg {
    width: 60.3125rem;
  }
}

.contact-form__button--spacing {
  //Box Model
  margin-top: 1.25rem;
}

//noinspection CssUnusedSymbol
.contact-form__ul {
  margin: 2.5rem 0 0;
  list-style: none;

  @include md {
    margin-top: 0;
    text-align: left;
  }

  @include lg {
    width: 100%;
  }
}

//noinspection CssUnusedSymbol
.contact-form__ul > li:last-child > .contact-form__review-modal-card-container {
  margin: 0;
}

.contact-form__btn {
  min-width: 7.5rem;
  height: 3.125rem;
  color: $white;
  text-align: center;
  background-color: $secondary;
  border-style: none;

  @include md {
    min-width: 11.75rem;
  }
}

.contact-form__bottom-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 7.5rem;

  @include lg {
    justify-content: space-evenly;
    width: 100%;
  }
}

.contact-form__button-container button {
  @include md {
    width: 15.625rem;
    font-size: 1.625rem;
  }
}

//noinspection CssUnusedSymbol
.contact-form__sending > .body-section__title {
  padding-top: 4.6875rem;
}


//noinspection CssUnusedSymbol
.contact-form__sending {
  height: 100vh;
}

//noinspection CssUnusedSymbol
.contact-form__spinner-container {
  margin-top: 12.5rem;
}
