/** Order of css blocks **/
//Positioning
//Box Model
//Typography
//Visual
//Animation
//Misc

.contact-form__button--spacing {
  //Box Model
  margin-top: 1.25rem;
}

.contact-form__ul {
  list-style: none;
  margin: 40px 0 0;
  padding: 0;
}

.contact-form__btn {
  width: 120px;
  height: 50px;
  padding: 0;
  background-color: $secondary;
  color: $white;
  border: none;
}

.contact-form__bottom-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
}
