.covid-banner__container {
  padding: 0.625rem;
  color: $white;
  font-size: 1.2rem;
  text-align: center;
  background-color: $black;
}

.covid-banner__container a {
  font-size: 1.2rem;
  text-decoration: underline;
}

.covid-banner__container span {
  display: block;

  @include md {
    display: inline;
    padding-left: 0.25rem;
  }
}

.covid__container {
  text-align: center;

  @include md {
    text-align: left;
  }
}

.covid__container > ul > li {
  margin-top: 1rem;
  text-align: left;
}
