
.footer__section,
.footer__ul {
  //Box Model
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;

  //Typography
  color: $white;
  font-family: $san-serif-font;
}

.footer__ul {
  font-family: $serif-font;
  list-style: none;
}

.footer__section-title--margin {
  margin-bottom: 0;
}
