/** Order of css blocks **/
//Positioning
//Box Model
//Typography
//Visual
//Animation
//Misc

.footer-section__heading {
  //Typography
  color: $white;
  font-weight: bold;

  @include lg {
    margin-top: 0.125rem;
    margin-bottom: 0;
    line-height: 1.7;

  }
}


