/** Order of css blocks **/
//Positioning
//Box Model
//Typography
//Visual
//Animation
//Misc

.form-input-field__input {
  //Box Model
  width: 100%;
  height: 3.125rem;
  border: 0.0625rem solid $primary;
  border-radius: 0.3125rem;
}

.form-input-field__label {
  //Box Model
  width: 100%;
  padding: 0.5625rem 0 2.3rem;

  //Typography
  color: $primary;
  font-weight: 600;
  font-size: 1rem;
  text-align: left;
}

.form-input-field__text-area {
  width: 100%;
  min-height: 9.375rem;
}
