/** Order of css blocks **/
//Positioning
//Box Model
//Typography
//Visual
//Animation
//Misc

.hero-image-overlay__container {
  //Box Model
  width: 95%;

  padding: 3.125rem 0.25rem 2.1875rem;

  //Typography
  color: $primary;
  text-align: center;

  //Visual
  background: rgba(255, 255, 255, 0.9);

  @include md {
    padding: 6.25rem 2.375rem 4.75rem;
  }

  @include lg {
    width: 965px;
    height: 581px;
    padding: 100px 32px 80px;
  }
}

.hero-image-overlay__container h1 {

}

.hero-image-overlay__h1--margin {
  margin: 0 0 1.875rem;
  @include md {
    margin: 0;
  }
}

.hero-image-overlay__children-container {
  margin: 0 0 2.5rem;

  @include md {
    margin: 6.25rem 0;
    font-size: 1.5rem;
  }
  @include lg {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

