/** Order of css blocks **/
//Positioning
//Box Model
//Typography
//Visual
//Animation
//Misc

.icon-with-line__container {
  position: relative;
  display: flex;
  justify-content: center;

  @include lg {
    margin-bottom: 0;
  }
}

.icon-with-line__hr {
  width: 140px;
  height: 0.45rem;
  background-color: $white;
  border: 0;
  border-radius: 0.625rem;

  @include md {
    width: 340px;
  }

  @include lg {
    width: 450px;
  }
}

.icon-with-line__fa-icon {
  font-size: 8rem;
}

.icon-with-line__icon {
  width: 95px;
  height: 95px;
  margin-right: -35px;
  margin-left: -35px;

  @include md {
    width: 120px;
    height: 120px;
    margin-right: -45px;
    margin-left: -45px;
  }

  @include lg {
    width: 160px;
    height: 160px;
    margin-right: -57px;
    margin-left: -57px;;
  }
}

.icon-with-line__fa-icon .fa-secondary {
  //Visual
  opacity: 1;
  fill: $primary;
  stroke: $white;
  stroke-width: 1.4375rem;
}

.icon-with-line__right-line,
.icon-with-line__left-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.desktop--margin-0 {
  @include lg {
    margin: 0;
  }
}

.desktop--margin-bottom-0 {
  @include lg {
    margin-bottom: 0;
  }
}

.desktop--margin-top-0 {
  @include lg {
    margin-top: 0;
  }
}

.desktop--padding-top-0 {
  @include lg {
    padding-top: 0;
  }
}

.mobile--padding-top-0 {
  padding-top: 0;
}

.icon-with-line__center-text {
  font-size: 2.5rem;
  font-family: $serif-font;
}
