/** Order of css blocks **/
//Positioning
//Box Model
//Typography
//Visual
//Animation
//Misc

.icon-with-line__container {
  height: 5rem;
  margin: -1.875rem 0 2.5rem;
}

.icon-with-line__hr {
  height: 0.45rem;
  margin-top: 6.25rem;
  background-color: $white;
  border: 0;
  border-radius: 0.625rem;
}

.icon-with-line__fa-icon {
  position: relative;
  top: -5.5rem;
  font-size: 8rem;
}

.icon-with-line__icon {
  position: relative;
  top: -4.5rem;
}

.icon-with-line__fa-icon-line__icon .fa-primary,
.icon-with-line__fa-icon .fa-secondary {
  //Visual
  opacity: 1;
  fill: $primary;
  stroke: $white;
  stroke-width: 1.4375rem;
}
