/** Order of css blocks **/
//Positioning
//Box Model
//Typography
//Visual
//Animation
//Misc

.image-group__title {
  width: 100%;
  margin: 2.5rem 0;
  font-weight: bold;
  font-family: $san-serif-font;
  text-align: center;
}
