/** Order of css blocks **/
//Positioning
//Box Model
//Typography
//Visual
//Animation
//Misc

.image-gallery__modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(80, 80, 80, 0.8);
}

.image-gallery__img-container {
  width: 16.25rem;
  height: auto;

  @include sm {
  width: 31.25rem;
  }

  @include md {
    width: 41.25rem;
  }

  @include lg {
    width: 56.25rem;
  }
}

.image-gallery--display-flex {
  display: flex;
  justify-content: center;
}

.image-gallery__container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  padding-right: 0.3125rem;
  padding-left: 0.1875rem;
}

.image-gallery__img {
  width: 100%;
  height: auto;
}

.image-gallery__img--display-block {
  display: block;
}

.image-gallery__img--display-none {
  display: none;
}

.image-gallery__modal-btn {
  background-color: transparent;
}

.image-gallery__text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.125rem;
}

.image-gallery__modal-arrow-btn {
  position: relative;
  padding: 0;
  color: $secondary;
  border-style: none;
}

.image-gallery__modal-arrow-btn-left {
  margin-right: -2.6rem;

  @include lg {
    margin-right: -1.6rem;
  }
}

.image-gallery__modal-arrow-btn-right {
  margin-left: -2.6rem;

  @include lg {
    margin-left: -1.6rem;
  }
}


.image-gallery__arrow-circle-background-icon {
  font-size: 2.9375rem;
}

.image-gallery__arrow-circle-icon {
  font-size: 3.125rem;
}

.image-gallery__close-btn-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-top: 0.9375rem;
  padding-right: 0.9375rem;
}

.image-gallery__arrow-btn-container {
  display: flex;
  align-items: center;
}

.image-gallery__arrow-icon {
  font-size: 3.125rem;
}

