/** Order of css blocks **/
//Positioning
//Box Model
//Typography
//Visual
//Animation
//Misc

.image-gallery-section__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60.3125rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  text-align: left;

  @include md {
    margin-bottom: 6.25rem;
    padding-right: 2.125rem;
    padding-left: 2.125rem;
  }

  @include lg {
    width: 60.3125rem;
    margin-bottom: 6.25rem;
    padding-right: 2.125rem;
    padding-left: 2.125rem;
  }
}

.image-gallery-section__title {
  display: inline-block;
  width: 19rem;
  margin-bottom: 1.25rem;

  //Typography
  font-size: 1.25rem;
  font-family: $san-serif-font;
  letter-spacing: 0.003125rem;

  @include sm {
    width: 31.25rem;
  }

  @include md {
    width: 43.75rem;
    font-size: 1.625rem;
  }

  @include lg {
    width: 60.3125rem;
    margin-bottom: 3.125rem;
  }
}

.image-gallery-section__hero-img {
  width: 100%;

  @include lg {
    width: 60.3125rem;
  }
}

.image-gallery-section__hero-link {
  display: block;
  width: 19rem;
  margin-bottom: 0.125rem;
  overflow-y: hidden;

  @include sm {
    width: 31.25rem;
    margin-bottom: 0.375rem;

  }

  @include md {
    width: 43.75rem;
  }

  @include lg {
    width: 60.3125rem;
  }
}

.image-gallery__thumbnail-img {
  width: 100%;
  overflow: hidden;
}

.image-gallery-section__img-link {
  display: inline-block;
  width: 9.4375rem;
  height: 9.4375rem;
  margin-bottom: 0.125rem;
  overflow: hidden;

  @include sm {
    width: 15.4375rem;
    height: 15.625rem;
    margin-bottom: 0.1875rem;
  }

  @include md {
    width: 21.6875rem;
    height: 21.6875rem;
    margin-bottom: 0.375rem;
  }

  @include lg {
    width: 19.8125rem;
    height: 19.8125rem;
  }
}

.image-gallery-section__img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 19rem;
  margin-bottom: 2.5rem;

  @include sm {
    width: 31.25rem;
  }

  @include md {
    width: 43.75rem;
  }

  @include lg {
    justify-content: center;
    width: 60.3125rem;
  }
}

.image-gallery-section__img-link-margin-x {
  @include lg {
    margin-right: 0.375rem;
    margin-left: 0.375rem;
  }
}
