/** Order of css blocks **/
//Positioning
//Box Model
//Typography
//Visual
//Animation
//Misc

.image-gallery-section__container {
  text-align: left;
padding-right: 34px;
padding-left: 34px;
  @include lg {
    width: 768px;
    margin-bottom: 45px;
  }
}

.image-gallery-section__title {
  display: inline-block;
  margin-bottom: 1.25rem;

  //Typography
  font-size: 20px;
  font-family: $san-serif-font;
  letter-spacing: 0.05px;
}

.image-gallery-section__hero-img {
  width: 100%;
  @include lg {
    width: 60.3125rem;
    height: 60.3125rem;
  }
}

.image-gallery-section__img {
  width: 50%;
  @include lg {
    width: 321px;
    height: 321px;
  }
}
