/** Order of css blocks **/
// Positioning
// Box Model
// Typography
// Visual
// Animation
// Misc

.link-card__container {
  width: 8.4375rem;
  text-decoration: none;
}

.link-card__img--dimensions {
  width: 100%;
}

.link-card__title {
  color: $primary;
  text-align: center;
}
