/** Order of css blocks **/
// Positioning
// Box Model
// Typography
// Visual
// Animation
// Misc

.link-card__container {
  width: 8.4375rem;
  text-decoration: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

  // 576px window width and more
  @include sm {
    width: 10.375rem;
  }

  @include md {
    width: 21.25rem;
  }

  @include lg {
    width: 14.0625rem;
  }
}

.link-card__image {
  width: 100%;
  height: auto;
}

.link-card__title {
  width: 100%;
}
