/** Order of css blocks **/
// Positioning
// Box Model
// Typography
// Visual
// Animation
// Misc

.mobile-navigation--display {
  @include lg {
    display: none;
  }
}

.mobile-navigation__toggle-button {
  // Box Model
  width: 3.125rem;
  height: 3.125rem;

  // Visual
  background-color: $primary;
  border-style: none;
}

.mobile-navigation__container {
  margin-top: 3.75rem;
  padding: 0.5rem;
}

.mobile-navigation__ul {
  list-style: none;
}

.mobile-navigation__ul li,
.mobile-navigation__heading {
  margin-bottom: 0.875rem;
}

.mobile-navigation__ul li {
  border: 0.125rem solid $white;
}

.mobile-navigation__ul li > a {
  display: block;
  padding-left: 0.625rem;
  font-size: 1.25rem;
  text-decoration: none;
}

.mobile-navigation__ul li .mobile-navigation__emergency-service {
  display: inline-block;
  font-size: 1.1875rem;
}

.mobile-navigation__nested-list {
  margin-left: 2.1875rem;
}

.mobile-navigation__menu-button {
  position: absolute;
  top: 4.75rem;
  left: 0.9375rem;
  z-index: 1;
}
