/** Order of css blocks **/
//Positioning
//Box Model
//Typography
//Visual
//Animation
//Misc

.our-process-infographic__ol-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 47.5rem;
  padding: 0.625rem 0;

  @include md {
    max-width: 61.9375rem;
    padding-right: 2.875rem;
    padding-left: 3.625rem;
  }

  @include lg {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
  }
}

.our-process-infographic__container {
display: block;
  @include lg {
    display: none;
  }
}

.our-process-infographic__container > li:last-child {
  @include md {
    label {
      left: 2.6875rem;
    }
  }
}

.our-process-infographic__li {
  width: 100%;
  list-style: none;

  @include lg {
    width: 183px;
    height: 266px;
    background-color: transparent;
  }
}

.our-process-infographic__step-container {
  width: 100%;

  @include md {
    position: relative;
  }
}

.our-process-infographic__text-container {
  width: 11.25rem;
  font-size: 1.875rem;
  font-family: $san-serif-font;

  @include md {
    position: absolute;
    top: 2.6875rem;
    width: 100%;
    font-size: 2.5rem;
  }

  @include lg {
    position: initial;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    font-size: 23px;
    letter-spacing: 0.07px;
  }
}

.our-process-infographic__icon-text {
  @include lg {
    //margin-top: 30px;
  }
}

.our-process-infographic__text-container--width {
  @include lg {
    width: 130px;
  }
}

.our-process-infographic__desktop-line {
  position: absolute;
  top: 15px;
  left: 100px;
  width: 730px;
  height: 45px;
  border-bottom: 2px solid $white;
}

.our-process-infographic__desktop-caret-right {
  font-size: 50px;
}

.our-process-infographic__desktop-caret-right-container {
  //display: flex;
  //justify-content: space-between;
  //color: $white;
}

.our-process-infographic__desktop-container {
  display: none;

  @include lg {
    position: relative;
    display: initial;
  }
}

.our-process-infographic__desktop-ol-container {
  //display: none;
}

.our-process-infographic__desktop-caret-container {
  position: absolute;
  bottom: 182px;
  width: 50px;
  height: 50px;
}

.our-process-infographic__desktop-caret-container:first-child {
  left: 160px;
}

.our-process-infographic__desktop-caret-container:nth-child(2) {
  left: 342px;
}

.our-process-infographic__desktop-caret-container:nth-child(3) {
  left: 524px;
}

.our-process-infographic__desktop-caret-container:nth-child(4) {
  left: 707px;
}
