/** Order of css blocks **/
//Positioning
//Box Model
//Typography
//Visual
//Animation
//Misc

.h1-page-header {
  //Box Model
  margin-top: 3.125rem;
  margin-bottom: 2.5rem;

  //Typography
  text-align: center;

  @include md {
    margin-top: 6.25rem;
    margin-bottom: 5rem;
  }

  @include lg {
    margin-top: 6.25rem;
    margin-bottom: 5rem;
  }
}
