/** Order of css blocks **/
//Positioning
//Box Model
//Typography
//Visual
//Animation
//Misc

.review__container {
  //Box Model
  padding: 0.5rem;
  border: 0.0625rem solid $secondary;

  @include lg {
    padding: 0.9375rem 0.9375rem 2.8125rem;
  }
}

.review__details-container {
  text-align: left;
}

.review__details-container > p {
  letter-spacing: 0.01rem;
}

.review__name {
  //Box Model
  margin-top: 1.5rem;

  //Typography
  font-weight: bold;
  font-size: 1.625rem;

  @include lg {
    font-size: 2.25rem;
  }
}

.review__star-container {
  //Box-Model
  display: flex;
  justify-content: space-around;
  margin: 0.75rem 0 0;

  @include md {
    width: 17.1875rem;
    height: 2.5rem;
  }

  @include lg {
    width: 17.1875rem;
  }
}

.review__location {
  //Box Model
  margin: 1.5rem 0;

  @include lg {
    font-size: 2.25rem;
  }
}

.review__star {
  display: inline;
  font-size: 3rem;

  @include lg {
    font-size: 2.5rem;
  }
}
