/** Order of css blocks **/
//Positioning
//Box Model
//Typography
//Visual
//Animation
//Misc

.beautify-exterior__home-sparkles {
  margin-right: 1.125rem;
}

.beautify-exterior__fa-sparkles {
  color: $secondary;
  font-size: 3.125rem;
}

.protect-structural-integrity__fa-home-icon,
.beautify-exterior__fa-home-icon {
  font-size: 7rem;
}

.fa-stack-item {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.siding-infographic__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 2.1875rem;
  border: 0.0625rem solid $white;
}


.siding-infographic__beautify-exterior--margin-right {
  margin-right: 2.25rem;
}

.siding-infographic__step-container {
  padding-top: 2.1875rem;
  width: 100%;
}

.siding-infographic__step {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.siding-infographic__step--reverse {
  flex-direction: row-reverse;
}

.siding-infographic__p {
  width: 8.4375rem;

  //Typography
  font-size: 1rem;
}

.siding-infographic__step-title {
  margin-bottom: 2.5rem;
  font-size: 1.375rem;
}


.siding-infographic__p--margin-left {
  margin-left: 1.125rem;
}

.beautify-exterior__fa-sparkles-container {
  width: 3.125rem;
  height: 3.125rem;
}

.lower-utility-cost__icon-container {
  font-size: 6.875rem;
}

.protect-structural-integrity__icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.protect-structural-integrity__icon-weather-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5625rem;
}

.protect-structural-integrity__icon-weather {
  margin-right: 0.3125rem;
  margin-bottom: 0.625rem;
}
