/** Order of css blocks **/
//Positioning
//Box Model
//Typography
//Visual
//Animation
//Misc

.themed-link {
  //Box Model
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;

  //Typography
  color: $white;
  text-decoration: none;

  //Display
  background-color: $secondary;
  border: 0;

  @include md {
  }
}

.themed-link:hover,
.themed-link:focus {
  outline-color: $primary;
}

.themed-link__hr-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.themed-link__hr {
  //Box Model
  margin-top: -0.3125rem;
  color: $white;
  border: 0;
  border-bottom: 0.125rem solid;
}

@media (prefers-reduced-motion: no-preference) {
  a:hover .themed-link__hr,
  a:focus .themed-link__hr {
    animation: separator-width 0.4s ease-out forwards;
  }

  @keyframes separator-width {
    0% {
      width: 0;
    }

    100% {
      width: 100%;
    }
  }
}
