/** Order of css blocks **/
// Positioning
// Box Model
// Typography
// Visual
// Animation
// Misc

.theme-button {
  //Box Model
  width: 13.125rem;
  height: 3.125rem;

  //Typography
  color: $white;

  //Display
  background-color: $secondary;
  border: 0;
}

.theme-button--focus:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

  
