/** Order of css blocks **/
//Positioning
//Box Model
//Typography
//Visual
//Animation
//Misc

.theme-button {
  //Box Model
  width: 13.125rem;
  height: 3.125rem;

  //Typography
  color: $white;

  //Display
  background-color: $secondary;
  border: 0;
}

.theme-button__hr-container {
  display: flex;
  justify-content: center;
}

.theme-button__hr {
  //Box Model
  width: 0;
  border: 0;
  border-bottom: 0.3125rem solid;
}

button:hover .theme-button__hr,
button:focus .theme-button__hr {
  animation: separator-width 1s ease-out forwards;
}

@keyframes separator-width {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
