/** Order of css blocks **/
// Positioning
// Box Model
// Typography
// Visual
// Animation
// Misc

.home--primary-color {
  color: $primary;
}

//About Us
.home__about-us--img {
  width: 100%;
  height: 16.25rem;
  margin-bottom: 3.125rem;
}

//Service Cards
.home__service-cards-container {
  display: flex;
  justify-content: space-evenly;
  height: 11.25rem;
}

.home__service-cards--margin-bottom {
  margin-bottom: 1.6rem;
}

//Our Work
.home__our-work-p--bottom-margin-40 {
  margin-bottom: 2.5rem;
}
