/** Order of css blocks **/
// Positioning
// Box Model
// Typography
// Visual
// Animation
// Misc

//Our Services
.home__our-services-p-container {
  margin-bottom: 2.5rem;
}

//Service Cards
.home__service-cards-mobile-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20.8125rem;
  height: 23.25rem;

  @include sm {
    width: 25rem;
    height: 27.3125rem;
  }

  @include md {
    justify-content: space-evenly;
    width: 48rem;
    height: 53.125rem;
  }

  @include lg {
    display: none;
  }
}

.home__service-cards-desktop-container {
  display: none;

  @include lg {
    display: flex;
    justify-content: space-around;
    width: 60.3125rem;
  }
}

.home__service-cards-row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.home__service-cards-mobile-container {
  margin-bottom: 60px;
}


.home__service-cards--margin-bottom {
  margin-bottom: 1.6rem;
}

.home__our-services-p-container--mobile {
  @include lg {
    display: none;
  }
}

.home__our-services-p-container--desktop {
  display: none;

  @include lg {
    display: block;
    margin-top: 5rem;
  }
}

.home__service-cards--center {
  display: flex;
  justify-content: center;


  @include lg {
    width: 100%;
  }
}

//

//Our Work
.home__our-work-p-container > p:first-child {
  @include lg {
    white-space: nowrap;
  }
}

.home__our-work-p-container > p:nth-child(2) {
  @include lg {
    width: 51.375rem;
  }
}

//

.home__contact-us-section {
  @include lg {
    width: 100%;
  }
}

