/** Order of css blocks **/
//Positioning
//Box Model
//Typography
//Visual
//Animation
//Misc

.remodel__hero--img {
  //Box Model
  width: 100%;
  height: 16.25rem;
  margin-bottom: 2.5rem;
}

.remodel__review-sites-section--alignment {
  //Box Model
  display: flex;
  justify-content: center;
}


.remodel__vendor-section--alignment {
  margin-top: 4.6875rem;
}
