$primary: #284f4d;
$secondary: #e37200;
$off-white: #f2f2f2;
$white: #fff;
$red: #bd0016;
$beige: #ffd6b3;
$black: #000;

.background-color-primary {
  background-color: $primary;
}

.background-color-secondary {
  background-color: $secondary;
}

.background-color-white {
  background-color: $white;
}

.color-primary {
  color: $primary;
}

.color-secondary {
  color: $secondary;
}

.color-white {
  color: $white;
}

.color-red {
  color: $red;
}
