
// ----- Fonts ------- //
$san-serif-font: 'Arial', 'Calibri', 'Century Gothic', 'Helvetica', 'Tahoma', 'Verdana', sans-serif;
$serif-font: 'Times New Roman', 'Georgia', serif;
// ------------------ //

// ----- Size and Spacing ------- //
$default-font-size: 1rem;
$default-letter-spacing: 0.12rem;
$default-line-height: 1.5;
$default-word-spacing: 1.5;

// ------------------ //

